.settings/
bin/
input/
output/
.classpath
.project
.pydevproject
.pyc

.idea/
.metadata/


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac desktop service store files
.DS_Store

*.iml
