<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<link type="text/css" rel="stylesheet" media="all" href="../static/css/bootstrap/bootstrap.min.css"></link>
	<link type="text/css" rel="stylesheet" media="all" href="../static/css/bootstrap/bootstrap-theme.min.css"></link>
	<script type="text/javascript" src="../static/js/jquery/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js"></script>
</head>
<body>
	<ul>
		<li><a href="/map">Mapper demo</a></li>
		<li><a href="/string">String to string</a></li>
		<li><a href="/entity">Entity to entity</a></li>
		<li><a href="/explorenew">String to class</a></li>
	</ul>
</body>
</html>