html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#search-bar-wrapper,
#disambiguator-wrapper {
	padding: 2em;
}
#site-interface-wrapper {
	position: relative;
	z-index: 10;
	float: left;
}
#search-bar-wrapper {
	width: 50%;
}
#visualizer-wrapper {
	height: 100%;
	width: 100%;
	z-index: 0;
	position: absolute;
}

/* d3 graph styling */
.node {
	opacity: 0.5;
}
.node:hover {
	opacity: 1;
}
.link {
	stroke: #999;
	stroke-opacity: 0.3;
}

